.screen {
    border: 1px solid grey;
    height: 25px;
    width: 150px;
    text-align: right;
}
.btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(50px, 1fr);
    gap: 5px;
    width: 150px;
    margin-top: 5px;
}
.num, 
.operator,
#equal, #clear {
    cursor: pointer;
    text-align: center;
    border: 1px solid greenyellow;
}
#clear {
    grid-column: 2 / 4;
}