body {
    font-family: sans-serif;
}
.problem {
    font-size: 40px;
}

.progress {
    border: 1px solid #c7c7c7;
    border-right: none;
    position: relative;
}

.boxes {
    display: flex;
    width: 100%;
}

.box {
    height: 40px;
    border-right:  1px solid #c7c7c7;
    flex: 1;
}

.progress-bar {
    background-color: greenyellow;
    opacity: .5;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .5s ease-in;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(225, 225, 225, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);
}
body.overlay-is-open .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
body.overlay-is-open .main-ui {
    filter:blur(4px)
}